@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;700&display=swap");

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  line-height: 1.4rem;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  padding: 1.5rem;
  font-weight: 700;
  font-size: 0.8em;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.logo-container img {
  width: 100px;
}

.main-nav a {
  padding: 5px 10px;
  text-decoration: none;
  color: rgb(24, 24, 24);
}

/* Style the active/current link*/
.header a.active {
  text-decoration: underline;
}

.achieve {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(225, 225, 225);
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.achieve-header {
  align-content: center;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.achieve__column-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.achieve .achieve__column {
  flex-basis: 33%;
  color: black;
  padding: 15px;
}

.footer {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(28, 28, 28);
  display: flex;
  justify-content: center;
  font-size: 10px;
}

.footer__column-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footer .footer__column {
  flex-basis: 33%;
  color: #cccccc;
  padding: 15px;
}

.footer > div > div:nth-child(3) {
  text-align: right !important;
}

.footer__column ul {
  padding: 0;
}

.footer__column ul li {
  list-style-type: none;
}

#sitemap {
  display: flex;
  flex-direction: row;
}

#sitemap li {
  margin-right: 5px;
}

#sitemap li a,
#contact-info a {
  color: #cccccc;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

#sitemap li a:hover,
#contact-info a:hover {
  color: rgb(60, 179, 252);
}

#copyright {
  padding: 10px;
  text-align: center;
  background-color: black;
  color: #ffffff;
  font-size: 8px;
}

@media screen and (max-width: 600px) {
  .cta {
    flex-basis: 100%;
  }

  .hero-cta {
    font-size: 2rem;
  }

  .achieve__column-container {
    flex-wrap: wrap;
  }

  .achieve .achieve__column {
    flex-basis: 100%;
  }

  .footer__column-container {
    flex-wrap: wrap;
  }

  .footer .footer__column {
    flex-basis: 100%;
  }
}
